body {
    background-color: #6b99b6;
}
.cat {
    display: flex;
    gap: 0px 40px;
}

.img-cat {
    max-width: 40%;
    height: auto;
    border: 3px solid #0057b8;
}


.cat-conteiner {
    display: flex;
    flex-direction: column;
}

.cat-info {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #0057b8;
}


.loader {
    color: #ffd700;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.breed-select {
    margin-bottom: 15px;
}

.breed-select {
    display: none;
    margin-bottom: 15px;
}

.error {
    display: none;
}