* {
    box-sizing: border-box;
}

body {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: #6b99b6;
    color: #0057b8;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    border: 3px solid #0057b8;
}

h1 {
    margin: 0;
    color: #0057b8;;
}

.error {
    color: #70080d;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.breed-select {
    display: none;
    max-width: 400px;
    margin: auto;
}

.loader {
    color: #ffd700;
    font-size: 16px;
    position: relative;
    margin: 20% auto;
    display: flex;
    justify-content: space-between;
}

.cat-info {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #ffd700;
    border: 3px solid #0057b8;
}

.box-img {
    display: flex;
    align-items: center;
}

.box {
    width: 400px;
}
